<nav class="fixed-bottom">
  <div class="main-menu d-flex justify-content-evenly align-items-center">
    <%= link_to dashboard_path do %>
      <i class="fa-solid fa-house"></i>
    <% end %>
    <%= link_to user_conversations_path do %>
      <i class="fa-solid fa-inbox"></i>
    <% end %>
    <%= link_to chats_path do %>
      <i class="fa-solid fa-hexagon-nodes"></i>
    <% end %>
    <%= link_to saved_items_path do %>
      <i class="fa-solid fa-book-bookmark"></i>
    <% end %>

    <%= link_to profile_path do %>
      <% if current_user.avatar.attached? %>
        <%= cl_image_tag current_user.avatar.key,
              crop: :thumb,
              gravity: :face,
              class: "avatar rounded-circle object-fit-cover",
              alt: "User avatar" %>
      <% else %>
        <%= image_tag "avatar_default.png", class: "avatar rounded-circle object-fit-cover", alt: "Default avatar" %>
      <% end %>
    <% end %>
  </div>
</nav>
