<div class='m-4'>
  <h1 class="page-title mb-3">OnJase chat</h1>

  <div class="chat-list">
    <div class="bg-white rounded-3 overflow-hidden shadow-sm">
      <% if @chats.any? %>
        <% @chats.each_with_index do |chat, index| %>
          <%= link_to chat_path(chat), class: "text-decoration-none" do %>
            <div class="d-flex align-items-center px-3 py-3 <%= index < @chats.size - 1 ? 'border-bottom border-OJ-background-color' : '' %>">
              <div class="d-flex align-items-center justify-content-center rounded-3 me-3 flex-shrink-0">
                <i class="fa-solid fa-hexagon-nodes text-OJ-primary fs-1 px-1"></i>
              </div>
              <div>
                <div class="fw-semibold text-OJ-text-main"><%= chat.title %></div>
                <% if chat.messages.last.present? %>
                  <div class="d-inline-block text-truncate small text-muted" style="max-width: 65vw"><%= chat.messages.last.content %></div>
                <% end %>
                <%if !chat.messages.empty? %>
                <div class="text-muted small"><%= chat.messages.last.created_at.to_date == Date.today ? "Today" : chat.messages.last.created_at.strftime("%b %d, %Y") %></div>
                <% else %>
                <div class="text-muted small"><%= chat.created_at.to_date == Date.today ? "Today" : chat.created_at.strftime("%b %d, %Y") %></div>
                <% end%>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= button_to chats_path, class: 'plus-button new-chat-btn border-0 p-0' do %>
      <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>

</div>
