<div class='m-4 pb-3 overflow-auto'>
  <p class="fs-5 mb-4"><span class="page-title fs-1">Salut,</span>
    <% if current_user.display_name.present? %>
      <%= current_user.display_name %>
    <% else %>
      <%= current_user.username %>
    <% end %>
  </p>

  <div class="d-flex flex-column gap-3 dashboard-container">

    <div class="dashboard-card p-3 bg-white">
      <p class="text-OJ-primary"><strong>L'anecdote du jour</strong></p>
      <% if @fun_fact.present? %>
        <p id="gen-fun-fact" class="m-0"><%= @fun_fact.fact %></p>
      <% else %>
        <p class="m-0">Le Vieux-Montréal cache encore des rues pavées du 17e siècle, ce qui lui donne un charme européen unique qu'on ne retrouve nulle part ailleurs au Québec de la même façon.</p>
      <% end %>
    </div>


    <%= link_to decks_path, class: 'text-OJ-primary text-decoration-none' do %>
      <div class="dashboard-card p-3 bg-white d-flex flex-column ">
        <p class="text-OJ-primary mb-0"><strong>Flashcard Decks</strong></p>
          <span class="text-muted small mb-2">Needs practice:</span>
        <div class="d-flex align-items-center justify-content-between gap-2 border border-2 p-2 bg-OJ-background-color rounded-4">
          <strong class="flex-grow-1"><%= @needs_practice.name %></strong>
          <span class="badge rounded-pill text-bg-warning fs-6 px-3 py-2 text-white"><%= (@needs_practice.score * 100).round %>%</span>
        </div>
      </div>
    <% end %>

    <div class="dashboard-card p-3 bg-white">
      <p class="text-OJ-primary"><strong>Enregistré récemment</strong></p>
      <% @recently_saved_phrases.reverse.each do |phrase| %>
        <%= link_to phrase_path(phrase), class: "text-decoration-none" do %>
            <div class="saved-item-card">
              <span class="text-OJ-text-main"><%= phrase.french %></span>
            </div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>
