<div class='m-4 pb-3 overflow-auto'>
  <p class="fs-5 mb-4"><span class="page-title fs-1">Salut,</span>
    <% if current_user.display_name.present? %>
      <%= current_user.display_name %>
    <% else %>
      <%= current_user.username %>
    <% end %>
  </p>

  <div class="d-flex flex-column gap-3 dashboard-container">

    <div class="dashboard-card p-3 bg-white">
      <p class="text-OJ-primary"><strong>L'anecdote du jour</strong></p>
      <% if @fun_fact.present? %>
        <p id="gen-fun-fact" class="m-0"><%= @fun_fact.fact %></p>
      <% else %>
        <p class="m-0">Le Vieux-Montréal cache encore des rues pavées du 17e siècle, ce qui lui donne un charme européen unique qu'on ne retrouve nulle part ailleurs au Québec de la même façon.</p>
      <% end %>
    </div>


    <%= link_to decks_path, class: 'text-OJ-primary text-decoration-none' do %>
      <div class="dashboard-card text-center p-3 bg-white">
        <strong class="fs-6">
           <p class="mb-2">FLASHCARD DECKS</p>
           <div class="d-flex gap-3 justify-content-center">
            <i class="fs-3 fa-regular fa-face-smile-beam text-success"></i>
            <i class="fs-3 fa-regular fa-face-meh text-warning"></i>
            <i class="fs-3 fa-regular fa-face-frown text-danger"></i>
           </div>
        </strong>
      </div>
    <% end %>

    <div class="dashboard-card p-3 bg-white">
      <p class="text-OJ-primary"><strong>Enregistré récemment</strong></p>
      <% @recently_saved_phrases.reverse.each do |phrase| %>
        <%= link_to phrase_path(phrase), class: "text-decoration-none" do %>
            <div class="saved-item-card">
              <span class="text-OJ-text-main"><%= phrase.french %></span>
            </div>
          <% end %>
      <% end %>
    </div>

  </div>
</div>
