<div class="m-4">
   <%= link_to saved_items_path, class: 'text-decoration-none me-3' do %>
      <i class="fa-solid fa-chevron-left fs-4 text-OJ-text-main"></i>
    <% end %>


  <div class="saved-item-card mt-3">
    <div class="mb-1 d-flex justify-content-between align-items-center">

      <span class="word-french fs-4">
        <%if @word.gender == 'masculin'%>
          <span class="text-success">un</span>
        <% elsif @word.gender == 'feminine' %>
          <span class="text-warning">une</span>
        <% end %>
        <%= @word.french %></span>

      <span class="badge bg-secondary ms-2"><%= @word.word_type %></span>

    </div>
    <p class="word-english fs-5 mb-2"><%= @word.english %></p>
    <hr>
    <p class="text-muted mb-0"><%= @word.definition %></p>
  </div>
  <div class='d-flex justify-content-end'>
    <%= link_to "delete", word_path(@word), class: 'pe-2 text-decoration-none text-danger fw-bold',  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
  </div>
</div>
