<div class="m-4">
   <%= link_to saved_items_path, class: 'text-decoration-none me-3' do %>
      <i class="fa-solid fa-chevron-left fs-4 text-OJ-text-main"></i>
    <% end %>


  <div class="saved-item-card mt-3">
    <p class="mb-1">
      <span class="word-french fs-4"><%= @word.french %></span>
      <span class="badge bg-secondary ms-2"><%= @word.word_type %></span>
    </p>
    <p class="word-english fs-5 mb-2"><%= @word.english %></p>
    <hr>
    <p class="text-muted mb-0"><%= @word.definition %></p>
  </div>
</div>
<%= render "shared/bottom_navbar" %>
