<div class='m-4'>
  <h1 class="page-title">messages</h1>

  <div class="conversation-list">
    <ul class="list-unstyled p-0">
      <% @user_conversations.reverse.each do |conversation| %>
        <% other = conversation.other_participant(current_user) %>
        <li class="py-2 d-flex gap-1">

            <div>
              <% if other.avatar.attached? %>
                <%= cl_image_tag other.avatar.key,
                      crop: :thumb,
                      gravity: :face,
                      class: "avatar-medium rounded-circle object-fit-cover me-2",
                      alt: "User avatar" %>
              <% else %>
                <%= image_tag "avatar_default.png", class: "avatar-medium rounded-circle object-fit-cover me-2", alt: "Default avatar" %>
              <% end %>
            </div>

            <%= link_to user_conversation_path(conversation), class: "text-decoration-none text-OJ-text-main" do %>
              <div>
                <div class="fw-bold">
                  <%= other.username %>
                </div>
                <div class="d-inline-block text-truncate small" style="max-width: 65vw">
                  <%= conversation.user_conversation_messages.last.content %>
                </div>
              </div>
            <% end %>

        </li>
      <% end %>
    </ul>
  </div>

  <div>
    <%= link_to new_user_conversation_path, class: 'plus-button' do %>
    <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>

  </div>
