<div class='m-4'>

  <div class="d-flex align-items-center">
    <%= link_to user_conversations_path, class: 'text-decoration-none' do %>
      <i class="fa-solid fa-chevron-left fs-4 text-OJ-text-main"></i>
    <% end %>

    <h1 class="page-title ms-2 mb-0">New message </h1>
  </div>

  <div class="mt-5 pt-5" data-controller="partial-user-search">
    <%= simple_form_for @user_conversation do |f| %>
      <%= f.input :username, label: "Send message to:", placeholder: "Enter username",
              input_html: {
                data: { "partial-user-search-target": "input",
                action: "input->partial-user-search#searchUsername" }
              } %>
      <div class="d-flex justify-content-end">
        <%#= f.button :submit, "Search", class: "btn btn-OJ-primary fw-bold text-white" %>
      </div>
    <% end %>

    <%= form_with url: retrieve_users_user_conversations_path, method: :post,
            html: { class: "d-none" },
            data: { turbo_frame: "user_search_results", "partial-user-search-target": "form" } do |sf| %>
      <%= sf.hidden_field :query, data: { "partial-user-search-target": "query" } %>
    <% end %>
  </div>

  <%= turbo_frame_tag "user_search_results" %>
</div>
