<div class="m-4">
  <h1 class="page-title">flashcard decks</h1>

  <div class="conversation-list">
    <ul class="list-unstyled p-0">
      <% @decks.each do |deck| %>
        <li class="py-2">
          <%= render "deck_card", deck: deck %>
        </li>
      <% end %>
    </ul>
  <%= form_with url: create_deck_decks_path, method: :post do |f| %>
    <%= f.text_field :query, placeholder: "Search saved items..." %>
    <%= f.submit "Create Deck" %>
  <% end %>
</div>



  <div>
    <%= link_to new_deck_path, class: "plus-button" do %>
    <i class="fa-regular fa-square-plus"></i>
    <% end %>
  </div>

</div>
