<div class="m-4 pb-3 overflow-auto">
  <%= turbo_stream_from current_user, "decks" %>
  <h1 class="page-title">Flashcard decks</h1>

  <div class="conversation-list">
    <ul class="list-unstyled p-0" id="decks-list">
      <% @decks.each do |deck| %>
        <%= render "deck_card", deck: deck %>
      <% end %>
    </ul>
  <%= form_with url: create_deck_decks_path, method: :post do |f| %>
    <%= f.text_field :query, placeholder: "Search saved items..." %>
    <%= f.submit "Create Deck" %>
  <% end %>
</div>
</div>
