<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "On Jase - Your Quebecois Community Platform" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="On Jase">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:title" content="<%= content_for(:title) || 'On Jase - Your Quebecois Community Platform' %>">
    <meta property="og:description" content="On Jase - Your Quebecois Community Platform">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= image_url('OnJase_logo.png') %>">
    <meta property="og:url" content="https://www.onjase.xyz">

    <%= favicon_link_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="icon" href="OnJase_logo.png" type="image/png">
    <link rel="apple-touch-icon" href="app/assets/OnJase_logo.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= yield %>
    <% if show_bottom_navbar? %>
      <%= render "shared/bottom_navbar", locals: { page: current_page } %>
    <% end %>
  </body>
</html>
